.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .chart {
    width: 30%;
    padding: 10px;
    height: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(187, 183, 183);
    margin: 3px;
    font-size: 12px;
  }
  
  @media (max-width: 768px) {
    .chart {
      width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .chart {
      width: 100%;
    }
  }
  