<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>KEPHI INNOVATIONS</title>
    <link rel="preconnect" href="https://fonts.googleapis"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/app/static/style.css">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <!--Navigation-->
    <nav>
        <img src="/app/static/images/logo.png" alt="">
        <div class="navigation">
            <ul>
                <i id="menu-close" class="fas fa-times"></i>
                <li> <a class="active" href="/">Home</a></li>
                <li> <a href="/about.html">About</a></li>
                <li> <a href="/achievements">Achievements</a></li>
                <li> <a href="/products">Products</a></li>
                <li> <a href="/contact">Contact</a></li>
            </ul>
            <img id="menu-btn" src="/app/static/images/menuu.png" alt="">
        </div>
    </nav>
    <!---HOME-->
    <section id="Home">
        <div id="video-container">
            <video autoplay loop muted>
                <source src="/app/static/images/backvideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <!-- <h2>Enhance aqua farming using emerging technologies</h2>
        <p>A closed loop between the algae and fishes, which helps in the maintenance of water quality for the betterment of fish farming.</p>
        -->
    </section>

    <!-- <a href="/about">Learn More</a> -->
    <section style="padding: 5%;">

        <div class="about-text" style="text-align: center;">
            <h1>Welcome to our Tech-Innovations</h1>
            <br><br>
            <p>COMPANY is working on the Eco-Friendly and Nature based Water treatment Solutions and Carbon Emission
                Neutralizers. We provide solutions that are used to treat the water naturally with Eco-friendly
                byproducts and helps to reduce global carbon emissions using carbon neutralizers. Our products serve
                businesses ranging from farmers to power plant corporations.</p>
        </div>
    </section>

    <div class="mvision">
        <div class="mission">
            <span class="missionhd">Mission</span>
            <h3>
                <br>
                Our mission is to provide cutting-edge, environmentally conscious solutions for carbon sequestration
                plants, sewage treatment plants, and aquaculture systems.
                We are committed to offering highly sustainable and eco-friendly products that minimize the impact on
                the environment.
                Through our innovative technologies and the exclusive use of 100 percent natural materials, we aim to
                contribute to a greener and more sustainable future.
            </h3>
        </div>
        <div class="vission">
            <span class="vissionhd">Vision</span>
            <h3>
                <br>
                Our vision is to be a global leader in the field of sustainable solutions, recognized for our unwavering
                commitment to environmental stewardship. We strive to revolutionize the way carbon sequestration, sewage
                treatment, and aquaculture are approached by offering advanced, eco-friendly technologies. By
                establishing ourselves as the go-to provider for sustainable solutions, we aim to inspire other
                businesses and individuals to embrace environmentally conscious practices, ultimately creating a
                healthier and more sustainable planet for future generations.
            </h3>
        </div>

    </div>



    <section id="services">
        <div class="services-container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/app/static/images/slidelogo.png" alt="Service 1">

                    </div>
                    <div class="swiper-slide">
                        <img src="/app/static/images/product1.jpg" alt="Service 2">

                    </div>
                    <div class="swiper-slide">
                        <img src="/app/static/images/product2.png" alt="Service 3">

                    </div>
                    <div class="swiper-slide">
                        <img src="/app/static/images/reformer.png" alt="Service 4">
                    </div>
                    <div class="swiper-slide">
                        <img src="/app/static/images/cycle.png" alt="Service 4">

                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
       
    </section>

    <div class="slide-container">
        <h2 class="heading">ACHIEVEMENTS</h2>
        <div class="slide-wrapper">
            <div class="slide" onclick="redirectToPage()">
                <img src="/app/static/images/robo1.jpeg" alt="Image 1" class="slide-image">
                <div class="slide-content">
                    <h3>ROBOTHON-2021</h3>
                    <a href="/app/templates/achievements.html">Read More</a>
                </div>
            </div>
            <div class="slide" onclick="redirectToPage()">
                <img src="/app/static/images/xprize1.png" alt="Image 2" class="slide-image">
                <div class="slide-content">
                    <h3>XPRIZE</h3>
                    <a href="/app/templates/achievements.html">Read More</a>
                    
                </div>
            </div>
            <div class="slide" onclick="redirectToPage()">
                <img src="/app/static/images/cisco1.jpeg" alt="Image 3" class="slide-image">
                <div class="slide-content">
                    <h3>CISCO-GPSC</h3>
                    <a href="/app/templates/achievements.html">Read More</a>
                </div>
            </div>
            <div class="slide" onclick="redirectToPage()">
                <img src="/app/static/images/a1.jpeg" alt="Image 4" class="slide-image">
                <div class="slide-content">
                    <h3>SAMSUNG-SFT</h3>
                    <a href="/app/templates/achievements.html">Read More</a>
                </div>
            </div>
            <div class="slide" onclick="redirectToPage()">
                <img src="/app/static/images/a2.jpeg" alt="Image 5" class="slide-image">
                <div class="slide-content">
                    <h3>AMRUT 2.0</h3>
                    <a href="/app/templates/achievements.html">Read More</a>
                    
                </div>
            </div>
          
        </div>
    </div>

    <div class="scroll-buttons">
        <div class="scroll-button prev-button">&lt;</div>
        <div class="scroll-button next-button">&gt;</div>
    </div>

    <section class="contact">
        <div class="contactus">
            <span class="ask">
                Ask Us
                <br>
                Anything
            </span>
            <span class="ques">
                <br>
                You have questions?
                <br> We have answers.
            </span>
            <div class="cont">
                <a href="/products">Contact Us</a>
            </div>

        </div>
    </section>
    <!-- <marquee behavior="scroll" direction="left"> Content latest updates...........</marquee> -->
    <footer>
        <div class="copyright">
            <p>© 2022 KEPHI INNOVATIONS, Inc.</p>
            <div class="pro-links">
                <i class="fab fa-facebook-f"></i>
                <a href="https://instagram.com/hitam_team.carboxy?igshid=YmMyMTA2M2Y="><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/kephi-innovations-pvt-ltd/"><i
                        class="fab fa-linkedin-in"></i></a>

            </div>
        </div>
    </footer>
    <script>
        $('#menu-btn').click(function () {
        });

        $('#menu-close').click(function () {
        $('nav .navigation ul').addClass('active')
            $('nav .navigation ul').removeClass('active')
        });
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 3000, // Change the delay value to set the desired interval between slides
                disableOnInteraction: false,
            },
        });
        const slideContainer = document.querySelector('.slide-container');
        const slideWrapper = document.querySelector('.slide-wrapper');
        const prevButton = document.querySelector('.prev-button');
        const nextButton = document.querySelector('.next-button');
        let scrolling = false;

        prevButton.addEventListener('click', () => {
            slideContainer.scrollBy({
                left: -slideContainer.offsetWidth,
                behavior: 'smooth'
            });
        });

        nextButton.addEventListener('click', () => {
            slideContainer.scrollBy({
                left: slideContainer.offsetWidth,
                behavior: 'smooth'
            });
        });

        slideContainer.addEventListener('mouseover', () => {
            slideContainer.addEventListener('mousemove', handleScroll);
        });

        slideContainer.addEventListener('mouseout', () => {
            slideContainer.removeEventListener('mousemove', handleScroll);
        });

        function handleScroll(event) {
            const containerWidth = slideContainer.offsetWidth;
            const wrapperWidth = slideWrapper.offsetWidth;
            const mouseX = event.clientX;

            const scrollSpeed = 0.5;

            if (mouseX < containerWidth * 0.25) {
                scrolling = true;
                slideContainer.scrollBy({
                    left: -scrollSpeed,
                    behavior: 'smooth'
                });
            } else if (mouseX > containerWidth * 0.75) {
                scrolling = true;a
                slideContainer.scrollBy({
                    left: scrollSpeed,
                    behavior: 'smooth'
                });
            } else {
                scrolling = false;
            }
        }

        slideContainer.addEventListener('scroll', () => {
            if (scrolling) {
                slideContainer.removeEventListener('scroll', () => { });
            }
        });
        function redirectToPage() {
            // Redirect to the desired page
            window.location.href = "/templates/achievements.html";
        }
    </script>
</body>

</html>
